* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'DM Sans', sans-serif; }

body {
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
  body .calculadoraContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px; }
    body .calculadoraContainer .calculadora {
      width: 500px;
      height: fit-content;
      border: 1px solid #e6e6e6;
      box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      border-radius: 5px;
      transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
      body .calculadoraContainer .calculadora .input {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 50px; }
        body .calculadoraContainer .calculadora .input .valor {
          height: 60px;
          width: fit-content;
          font-size: 50px;
          cursor: pointer;
          border: transparent;
          align-items: center;
          display: flex;
          justify-content: flex-end; }
      body .calculadoraContainer .calculadora .buttons {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-row-gap: 5px;
        grid-column-gap: 5px;
        grid-template-areas: "c c division x" "siete ocho nueve resta" "cuatro cinco seis suma" "uno dos tres igual" "cero cero punto igual";
        transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
        body .calculadoraContainer .calculadora .buttons .boton {
          background-color: #fdda99;
          padding: 15px;
          font-size: 20px;
          color: white;
          border-radius: 5px;
          border-color: transparent;
          cursor: pointer;
          transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
        body .calculadoraContainer .calculadora .buttons #division, body .calculadoraContainer .calculadora .buttons #resta, body .calculadoraContainer .calculadora .buttons #suma, body .calculadoraContainer .calculadora .buttons #x {
          background-color: #72abff;
          padding: 15px;
          font-size: 25px;
          color: white;
          border-radius: 5px;
          border-color: transparent;
          cursor: pointer;
          transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
        body .calculadoraContainer .calculadora .buttons #c {
          grid-area: c;
          background-color: #fff895;
          padding: 15px;
          font-size: 35px;
          color: white;
          border-radius: 5px;
          border-color: transparent;
          cursor: pointer;
          transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
        body .calculadoraContainer .calculadora .buttons #division {
          grid-area: division; }
        body .calculadoraContainer .calculadora .buttons #x {
          grid-area: x; }
        body .calculadoraContainer .calculadora .buttons #siete {
          grid-area: siete; }
        body .calculadoraContainer .calculadora .buttons #ocho {
          grid-area: ocho; }
        body .calculadoraContainer .calculadora .buttons #nueve {
          grid-area: nueve; }
        body .calculadoraContainer .calculadora .buttons #resta {
          grid-area: resta; }
        body .calculadoraContainer .calculadora .buttons #cuatro {
          grid-area: cuatro; }
        body .calculadoraContainer .calculadora .buttons #cinco {
          grid-area: cinco; }
        body .calculadoraContainer .calculadora .buttons #seis {
          grid-area: seis; }
        body .calculadoraContainer .calculadora .buttons #suma {
          grid-area: suma; }
        body .calculadoraContainer .calculadora .buttons #uno {
          grid-area: uno; }
        body .calculadoraContainer .calculadora .buttons #dos {
          grid-area: dos; }
        body .calculadoraContainer .calculadora .buttons #tres {
          grid-area: tres; }
        body .calculadoraContainer .calculadora .buttons #cero {
          grid-area: cero;
          background-color: #daa3ff;
          padding: 15px;
          font-size: 25px;
          color: white;
          border-radius: 5px;
          border-color: transparent;
          cursor: pointer;
          transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
        body .calculadoraContainer .calculadora .buttons #punto {
          grid-area: punto;
          background-color: #72ffd0;
          padding: 15px;
          font-size: 40px;
          color: white;
          border-radius: 5px;
          border-color: transparent;
          cursor: pointer;
          transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
        body .calculadoraContainer .calculadora .buttons #igual {
          grid-area: igual;
          background-color: #fa8787;
          padding: 15px;
          font-size: 30px;
          color: white;
          border-radius: 5px;
          border-color: transparent;
          cursor: pointer;
          transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); }

body.dark {
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background-color: black; }
  body.dark .calculadora.dark {
    border: 1px solid rgba(255, 255, 255, 0.973);
    background-color: black;
    box-shadow: 0px 0px 24px 8px rgba(158, 158, 158, 0.84);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
    body.dark .calculadora.dark .input .valor {
      color: white; }
    body.dark .calculadora.dark .boton.dark {
      background-color: #ffad31;
      padding: 15px;
      font-size: 20px;
      color: white;
      border-radius: 5px;
      border-color: transparent;
      transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
    body.dark .calculadora.dark #c.boton.dark {
      background-color: #fff347;
      padding: 15px;
      font-size: 35px;
      color: white;
      border-radius: 5px;
      border-color: transparent;
      transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
    body.dark .calculadora.dark #igual.boton.dark {
      background-color: #fc1414;
      padding: 15px;
      font-size: 30px;
      color: white;
      border-radius: 5px;
      border-color: transparent;
      transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
    body.dark .calculadora.dark #punto.boton.dark {
      background-color: #25f5b0;
      padding: 15px;
      font-size: 40px;
      color: white;
      border-radius: 5px;
      border-color: transparent;
      transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
    body.dark .calculadora.dark #cero.boton.dark {
      background-color: #bd59ff;
      padding: 15px;
      font-size: 25px;
      color: white;
      border-radius: 5px;
      border-color: transparent;
      transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
    body.dark .calculadora.dark #x.boton.dark, body.dark .calculadora.dark #division.boton.dark, body.dark .calculadora.dark #suma.boton.dark, body.dark .calculadora.dark #resta.boton.dark {
      background-color: #468efa;
      padding: 15px;
      font-size: 25px;
      color: white;
      border-radius: 5px;
      border-color: transparent;
      cursor: pointer;
      transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); }

header {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-right: 70px;
  padding-left: 70px;
  align-items: center; }
  header .logos {
    display: flex;
    justify-content: flex-start;
    gap: 30px; }
    header .logos .logo {
      height: 35px;
      transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      filter: drop-shadow(0 0 10px white); }
      header .logos .logo:hover {
        transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transform: scale(1.3);
        cursor: pointer; }

label {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 100px;
  height: 40px; }
  label .sun {
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    z-index: 2;
    transition: all 0.5s ease-in-out; }
  label .moon {
    display: none; }
  label span.slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background: #9fccfa;
    border-radius: 50px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    align-items: center;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border: 1px solid white; }
    label span.slider::before {
      z-index: 2;
      position: absolute;
      content: "";
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      width: 40px;
      inset: 0;
      background-color: white;
      border-radius: 50%;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
      transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); }

label.active {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 100px;
  height: 40px; }
  label.active .sun {
    display: none;
    transition: all 0.5s ease-in-out; }
  label.active .moon {
    display: block;
    opacity: 1;
    position: absolute;
    left: 5px;
    width: 30px;
    height: 25px;
    z-index: 2;
    transition: all 0.5s ease-in-out; }
    label.active .moon svg {
      fill: yellow; }
  label.active span.slider.active {
    background: #013570;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0px 0px 24px 8px rgba(255, 255, 255, 0.84); }
    label.active span.slider.active::before {
      transform: translateX(60px);
      box-shadow: 0 10px 20px rgba(255, 255, 255, 0.4); }

footer .copyright {
  display: flex;
  justify-content: center;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
  footer .copyright.dark {
    color: white;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); }

@media (max-width: 600px) {
  header {
    padding-right: 50px;
    padding-left: 50px; }
    header .logos .logo {
      height: 30px; }
      header .logos .logo:hover {
        transform: scale(1.2); }
    header label {
      width: 90px;
      height: 35px; }
      header label .sun {
        width: 35px;
        height: 35px; }
      header label span.slider::before {
        height: 35px;
        width: 35px; }
    header label.active {
      width: 90px;
      height: 35px; }
      header label.active .moon {
        width: 25px;
        height: 20px; }
      header label.active span.slider.active::before {
        height: 35px;
        width: 35px;
        transform: translateX(55px); }
  main .calculadoraContainer .calculadora {
    width: 350px; }
    main .calculadoraContainer .calculadora .input .valor {
      font-size: 25px; }
    main .calculadoraContainer .calculadora .buttons {
      height: 320px; }
      main .calculadoraContainer .calculadora .buttons .boton {
        background-color: #fdda99;
        padding: 0px;
        font-size: 20px;
        color: white;
        border-radius: 5px;
        border-color: transparent; }
      main .calculadoraContainer .calculadora .buttons #division, main .calculadoraContainer .calculadora .buttons #resta, main .calculadoraContainer .calculadora .buttons #suma, main .calculadoraContainer .calculadora .buttons #x {
        background-color: #72abff;
        padding: 0px;
        font-size: 20px;
        color: white;
        border-radius: 5px;
        border-color: transparent; }
      main .calculadoraContainer .calculadora .buttons #c {
        background-color: #fff895;
        padding: 0px;
        font-size: 25px;
        color: white;
        border-radius: 5px;
        border-color: transparent; }
      main .calculadoraContainer .calculadora .buttons #cero {
        background-color: #daa3ff;
        padding: 0px;
        font-size: 20px;
        color: white;
        border-radius: 5px;
        border-color: transparent; }
      main .calculadoraContainer .calculadora .buttons #punto {
        background-color: #72ffd0;
        padding: 0px;
        font-size: 25px;
        color: white;
        border-radius: 5px;
        border-color: transparent; }
      main .calculadoraContainer .calculadora .buttons #igual {
        background-color: #fa8787;
        padding: 0px;
        font-size: 25px;
        color: white;
        border-radius: 5px;
        border-color: transparent; }
  main .calculadoraContainer .calculadora.dark {
    width: 350px; }
    main .calculadoraContainer .calculadora.dark .buttons .boton.dark {
      background-color: #ffad31;
      padding: 0px;
      font-size: 20px;
      color: white;
      border-radius: 5px;
      border-color: transparent; }
    main .calculadoraContainer .calculadora.dark .buttons #c.boton.dark {
      background-color: #fff347;
      padding: 0px;
      font-size: 25px;
      color: white;
      border-radius: 5px;
      border-color: transparent; }
    main .calculadoraContainer .calculadora.dark .buttons #igual.boton.dark {
      background-color: #fc1414;
      padding: 0px;
      font-size: 25px;
      color: white;
      border-radius: 5px;
      border-color: transparent; }
    main .calculadoraContainer .calculadora.dark .buttons #punto.boton.dark {
      background-color: #25f5b0;
      padding: 0px;
      font-size: 25px;
      color: white;
      border-radius: 5px;
      border-color: transparent; }
    main .calculadoraContainer .calculadora.dark .buttons #cero.boton.dark {
      background-color: #bd59ff;
      padding: 0px;
      font-size: 20px;
      color: white;
      border-radius: 5px;
      border-color: transparent;
      transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
    main .calculadoraContainer .calculadora.dark .buttons #x.boton.dark, main .calculadoraContainer .calculadora.dark .buttons #division.boton.dark, main .calculadoraContainer .calculadora.dark .buttons #suma.boton.dark, main .calculadoraContainer .calculadora.dark .buttons #resta.boton.dark {
      background-color: #468efa;
      padding: 0px;
      font-size: 20px;
      color: white;
      border-radius: 5px;
      border-color: transparent; }
  footer .copyright p {
    font-size: 13px; }
  footer .copyright.dark p {
    font-size: 13px; } }

@media (max-width: 375px) {
  header {
    padding-right: 30px;
    padding-left: 30px; }
    header .logos {
      gap: 15px; }
      header .logos .logo {
        height: 25px; }
        header .logos .logo:hover {
          transform: scale(1.2); }
    header label {
      width: 60px;
      height: 26px; }
      header label .sun {
        width: 25px;
        height: 25px; }
      header label span.slider::before {
        height: 25px;
        width: 25px; }
    header label.active {
      width: 60px;
      height: 26px; }
      header label.active .moon {
        width: 18px;
        height: 25px; }
      header label.active span.slider.active::before {
        height: 25px;
        width: 25px;
        transform: translateX(35px); }
  main .calculadoraContainer .calculadora {
    width: 230px; }
    main .calculadoraContainer .calculadora .input {
      height: 100px; }
      main .calculadoraContainer .calculadora .input .valor {
        font-size: 20px; }
    main .calculadoraContainer .calculadora .buttons {
      height: 210px; }
      main .calculadoraContainer .calculadora .buttons .boton {
        background-color: #fdda99;
        padding: 0px;
        font-size: 15px;
        color: white;
        border-radius: 5px;
        border-color: transparent; }
      main .calculadoraContainer .calculadora .buttons #division, main .calculadoraContainer .calculadora .buttons #resta, main .calculadoraContainer .calculadora .buttons #suma, main .calculadoraContainer .calculadora .buttons #x {
        background-color: #72abff;
        padding: 0px;
        font-size: 17px;
        color: white;
        border-radius: 5px;
        border-color: transparent; }
      main .calculadoraContainer .calculadora .buttons #c {
        background-color: #fff895;
        padding: 0px;
        font-size: 20px;
        color: white;
        border-radius: 5px;
        border-color: transparent; }
      main .calculadoraContainer .calculadora .buttons #cero {
        background-color: #daa3ff;
        padding: 0px;
        font-size: 17px;
        color: white;
        border-radius: 5px;
        border-color: transparent; }
      main .calculadoraContainer .calculadora .buttons #punto {
        background-color: #72ffd0;
        padding: 0px;
        font-size: 20px;
        color: white;
        border-radius: 5px;
        border-color: transparent; }
      main .calculadoraContainer .calculadora .buttons #igual {
        background-color: #fa8787;
        padding: 0px;
        font-size: 20px;
        color: white;
        border-radius: 5px;
        border-color: transparent; }
  main .calculadoraContainer .calculadora.dark {
    width: 230px; }
    main .calculadoraContainer .calculadora.dark .buttons {
      height: 210px; }
      main .calculadoraContainer .calculadora.dark .buttons .boton.dark {
        background-color: #ffad31;
        padding: 0px;
        font-size: 15px;
        color: white;
        border-radius: 5px;
        border-color: transparent; }
      main .calculadoraContainer .calculadora.dark .buttons #c.boton.dark {
        background-color: #fff347;
        padding: 0px;
        font-size: 20px;
        color: white;
        border-radius: 5px;
        border-color: transparent; }
      main .calculadoraContainer .calculadora.dark .buttons #igual.boton.dark {
        background-color: #fc1414;
        padding: 0px;
        font-size: 20px;
        color: white;
        border-radius: 5px;
        border-color: transparent; }
      main .calculadoraContainer .calculadora.dark .buttons #punto.boton.dark {
        background-color: #25f5b0;
        padding: 0px;
        font-size: 20px;
        color: white;
        border-radius: 5px;
        border-color: transparent; }
      main .calculadoraContainer .calculadora.dark .buttons #cero.boton.dark {
        background-color: #bd59ff;
        padding: 0px;
        font-size: 17px;
        color: white;
        border-radius: 5px;
        border-color: transparent;
        transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
      main .calculadoraContainer .calculadora.dark .buttons #x.boton.dark, main .calculadoraContainer .calculadora.dark .buttons #division.boton.dark, main .calculadoraContainer .calculadora.dark .buttons #suma.boton.dark, main .calculadoraContainer .calculadora.dark .buttons #resta.boton.dark {
        background-color: #468efa;
        padding: 0px;
        font-size: 17px;
        color: white;
        border-radius: 5px;
        border-color: transparent; }
  footer .copyright p {
    font-size: 10px; }
  footer .copyright.dark p {
    font-size: 10px; } }

@media (max-width: 250px) {
  header {
    padding-right: 20px;
    padding-left: 20px; }
    header .logos {
      gap: 10px; }
      header .logos .logo {
        height: 20px; }
        header .logos .logo:hover {
          transform: scale(1.2); }
    header label {
      width: 50px;
      height: 20px; }
      header label .sun {
        width: 19px;
        height: 20px; }
      header label span.slider::before {
        height: 20px;
        width: 20px; }
    header label.active {
      width: 50px;
      height: 20px; }
      header label.active .moon {
        width: 14px;
        height: 20px; }
      header label.active span.slider.active::before {
        height: 20px;
        width: 20px;
        transform: translateX(30px); }
  main .calculadoraContainer .calculadora {
    width: 180px; }
    main .calculadoraContainer .calculadora .input {
      height: 30px; }
      main .calculadoraContainer .calculadora .input .valor {
        font-size: 15px; }
    main .calculadoraContainer .calculadora .buttons {
      height: 180px; }
      main .calculadoraContainer .calculadora .buttons .boton {
        background-color: #fdda99;
        padding: 0px;
        font-size: 10px;
        color: white;
        border-radius: 5px;
        border-color: transparent; }
      main .calculadoraContainer .calculadora .buttons #division, main .calculadoraContainer .calculadora .buttons #resta, main .calculadoraContainer .calculadora .buttons #suma, main .calculadoraContainer .calculadora .buttons #x {
        background-color: #72abff;
        padding: 0px;
        font-size: 14px;
        color: white;
        border-radius: 5px;
        border-color: transparent; }
      main .calculadoraContainer .calculadora .buttons #c {
        background-color: #fff895;
        padding: 0px;
        font-size: 17px;
        color: white;
        border-radius: 5px;
        border-color: transparent; }
      main .calculadoraContainer .calculadora .buttons #cero {
        background-color: #daa3ff;
        padding: 0px;
        font-size: 14px;
        color: white;
        border-radius: 5px;
        border-color: transparent; }
      main .calculadoraContainer .calculadora .buttons #punto {
        background-color: #72ffd0;
        padding: 0px;
        font-size: 17px;
        color: white;
        border-radius: 5px;
        border-color: transparent; }
      main .calculadoraContainer .calculadora .buttons #igual {
        background-color: #fa8787;
        padding: 0px;
        font-size: 17px;
        color: white;
        border-radius: 5px;
        border-color: transparent; }
  main .calculadoraContainer .calculadora.dark {
    width: 180px; }
    main .calculadoraContainer .calculadora.dark .buttons {
      height: 180px; }
      main .calculadoraContainer .calculadora.dark .buttons .boton.dark {
        background-color: #ffad31;
        padding: 0px;
        font-size: 10px;
        color: white;
        border-radius: 5px;
        border-color: transparent; }
      main .calculadoraContainer .calculadora.dark .buttons #c.boton.dark {
        background-color: #fff347;
        padding: 0px;
        font-size: 17px;
        color: white;
        border-radius: 5px;
        border-color: transparent; }
      main .calculadoraContainer .calculadora.dark .buttons #igual.boton.dark {
        background-color: #fc1414;
        padding: 0px;
        font-size: 17px;
        color: white;
        border-radius: 5px;
        border-color: transparent; }
      main .calculadoraContainer .calculadora.dark .buttons #punto.boton.dark {
        background-color: #25f5b0;
        padding: 0px;
        font-size: 17px;
        color: white;
        border-radius: 5px;
        border-color: transparent; }
      main .calculadoraContainer .calculadora.dark .buttons #cero.boton.dark {
        background-color: #bd59ff;
        padding: 0px;
        font-size: 14px;
        color: white;
        border-radius: 5px;
        border-color: transparent;
        transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
      main .calculadoraContainer .calculadora.dark .buttons #x.boton.dark, main .calculadoraContainer .calculadora.dark .buttons #division.boton.dark, main .calculadoraContainer .calculadora.dark .buttons #suma.boton.dark, main .calculadoraContainer .calculadora.dark .buttons #resta.boton.dark {
        background-color: #468efa;
        padding: 0px;
        font-size: 14px;
        color: white;
        border-radius: 5px;
        border-color: transparent; }
  footer .copyright p {
    font-size: 8.5px;
    text-align: center; }
  footer .copyright.dark p {
    font-size: 8.5px;
    text-align: center; } }
