@media (max-width:375px){
    header{
        padding-right: 30px;
        padding-left: 30px;
        .logos{
            gap: 15px;
            .logo{
                height: 25px;
                &:hover{
                    transform: scale(1.2);
                }
            }
        }
        label{
            width: 60px;
            height: 26px;
            .sun{
                width: 25px;
                height: 25px;
            }
            span.slider{
                &::before{
                    height: 25px;
                    width: 25px;
                }
            }
        }
        label.active{
            width: 60px;
            height: 26px;
            .moon{
                width: 18px;
                height: 25px;
            }
            span.slider.active{
                &::before{
                    height: 25px;
                    width: 25px; 
                    transform: translateX(35px);
                }
            }
        }
    }
    main{
        .calculadoraContainer{
            .calculadora{
                width: 230px;
                .input{
                    height: 100px;
                    .valor{
                        font-size: 20px;
                    }
                }
                .buttons{
                    height: 210px;
                    .boton{
                        @include boton(rgb(253, 218, 153), 0px, 15px, rgb(255, 255, 255), 5px, transparent);
                    }
                    #division, #resta, #suma,#x{
                        @include boton(rgb(114, 171, 255), 0px, 17px, white, 5px, transparent);
                    
                    }
                    #c{
                        @include boton(rgb(255, 248, 149), 0px, 20px, rgb(255, 255, 255), 5px, transparent);
                    }
                    #cero{
                        @include boton(rgb(218, 163, 255), 0px, 17px, white, 5px, transparent);
                    }
                    #punto{
                        @include boton(rgb(114, 255, 208), 0px, 20px, rgb(255, 255, 255), 5px, transparent);
                    }
                    #igual{
                        @include boton(rgb(250, 135, 135), 0px, 20px, white, 5px, transparent);
                    }
                }
            }
            .calculadora.dark{
                width: 230px;
                .buttons{
                    height: 210px;
                    .boton.dark{
                        @include boton(rgb(255, 173, 49), 0px, 15px, rgb(255, 255, 255), 5px, transparent);
                    }
                    #c.boton.dark{
                        @include boton(rgb(255, 243, 71), 0px, 20px, rgb(255, 255, 255), 5px, transparent);
                    }
                    #igual.boton.dark{
                        @include boton(rgb(252, 20, 20), 0px, 20px, white, 5px, transparent);
                    }
                    #punto.boton.dark{
                        @include boton(rgb(37, 245, 176), 0px, 20px, rgb(255, 255, 255), 5px, transparent);
                    }
                    #cero.boton.dark{
                        @include boton(rgb(189, 89, 255), 0px, 17px, white, 5px, transparent);
                        transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                    }
                    #x.boton.dark, #division.boton.dark, #suma.boton.dark, #resta.boton.dark{
                        @include boton(rgb(70, 142, 250), 0px, 17px, white, 5px, transparent);
                    }
                }
            }
        }
    }
    footer{
        .copyright{
        p{
            font-size: 10px;
        }
        }
        .copyright.dark{
            p{
                font-size: 10px;
            }
            }
    }
}